{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
<main>
    <div class="container">
        <h1>Resize Image</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Resize Image</h5>
                        <form method="post">{% csrf_token %}
                            <div class="row mb-3">
                                <div class="col">
                                    <label for="{{form.width.id_for_label}}">Width:</label>
                                    {{form.width.errors}}
                                    {{form.width|add_class:"form-control"}}
                                </div>
                                <div class="col">
                                    <label for="{{form.height.id_for_label}}">Height:</label>
                                    {{form.height.errors}}
                                    {{form.height|add_class:"form-control"}}
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="{{form.aspect_ratio.id_for_label}}">Aspect ratio:</label>
                                {{form.aspect_ratio.errors}}
                                {{form.aspect_ratio}}
                                <small>{{ form.aspect_ratio.help_text }}</small>
                            </div>
                            <button type="submit" class="btn btn-primary">Reformat Image</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Image Preview</h5>
                        <img src="{{image.url}}" alt="Image Preview" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}