{% extends 'base.html' %}
{% block content %}
<main>
    <div class="container">
        <h1>Resize Image</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Resize Image</h5>
                        <form>
                            <div class="row mb-3">
                                <div class="col">
                                    <label for="width">Width</label>
                                    <input type="text" class="form-control" id="width">
                                </div>
                                <div class="col">
                                    <label for="height">Height</label>
                                    <input type="text" class="form-control" id="height">
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="format">Format</label>
                                <select class="form-control" id="format">
                                    <option value="png">PNG</option>
                                    <option value="jpg">JPG</option>
                                    <option value="wav">WAV</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">Reformat Image</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Image Preview</h5>
                        <img src="sing" alt="Image Preview" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}